* { margin:0; padding:0; 
    font-family:"Helvetica Neue", "Calibri Light", "Roboto", sans-serif;
    letter-spacing:0.01em;
}
body {
    background-color:#334467;
    background-image:url("images/bgcherry.png");
    background-position:center 15%;
    background-repeat:no-repeat;
    color:white;
    font-size:1.25em;
}

#wrapper { text-align:center; margin:0 auto;max-width:100%; width:1000px; }

#account { height:3em; line-height: 3em;
    padding: 0 1em; text-align:right; vertical-align:middle; }

#account-inputbox { position:absolute; margin-left:-300px;
    width:300px; height:500px; background-color:#3E527A;
    text-align:center; }

table.games { width: 80%; margin-left:auto; margin-right:auto; }
table.games tr { width:100%; }
table.games td:nth-child(1) { width:60%; }
table.games td a { color:white; text-decoration:none; }
table.games td a:hover { text-decoration:underline; }
table.games td a:visited { color:#B79BE0; }
table.games td:nth-child(2) { width:20%; }
table.games td { width:auto; }
table.games th { text-align:left; }

a { color: #C6C2C4; }
    a:hover { text-decoration:none; }

p { margin-top:2em; }

textarea { height:1.7em; padding:0.3em; resize:horizontal; overflow:hidden; 
    font-family:monospace;
}

input[type=submit] {
    background:#3E5A99;
    color:white;
    padding: 0.3em 0.75em;
    border:0 none;
    cursor:pointer;
    font-size:1.25em;
}

#gamesubmit {
    height:300px; display:block; overflow:hidden;
}

