* { margin:0; padding:0; 
    font-family:"Helvetica Neue", "Calibri Light", "Roboto", sans-serif;
    letter-spacing:0.01em;
}
body {
    background-color:#334466;
    background-image:url("images/bgcherry.png");
    background-position:center 25%;
    background-repeat:no-repeat;
    color:white;
    font-size:1.25em;
}

#wrapper { text-align:center; margin:0 auto; max-width:100%; width:1000px; }

#header { background-color:#1D263B; width:100%; }
#header-inner { margin:0 auto; max-width:100%; width:1000px; 
    padding:0 0.5em; }

#logo { float:left; }
#logo { font-size:1.25em; line-height:2.4em;
    height:2.4em; color:#CFE6FF; padding:0 0.5em; }
#logo img { margin-right:0.4em; vertical-align:middle;
    margin-bottom:0.2em; margin-right:0.1em; }
#accountroot { float:right; margin-right:1em; }
#account .email { text-align:right; margin-left:0.5em; }
#account input[type=submit], button { margin-left:0.5em; }

.clearboth { clear:both; }

nav { min-height:2.25em; text-align:left;
    vertical-align:middle; line-height:2.25em; }
nav:after { content:" "; display:block; height:0; clear:both; }
nav .navItem { display:inline-block; min-width: 4em; height:2.25em;
    text-align:center; padding: 0 0.75em; float:left; margin:0 0.5em 0.5em 0; }
nav .navItem:hover { background-color:#3E517A; }
nav a { cursor:pointer; }

#account-inputbox { position:absolute; margin-left:-17em;
    width:15em; background-color:#3E527A;
    text-align:center; padding:0.5em 1em 1em; line-height: 1.25em; 
    margin-top:3em; }

#content { padding:1em 0.5em 2em 0.5em; }

#adminpanel { text-align:left; font-size:0.85em; }
.report { width:100%; min-height:4em; margin-top:0.5em;
    background-color:hsla(0,0%,0%, 0.2); text-align:left; display:flex; }
.reportid { display:inline-block; height:4em; width:4em; font-size:1.75em; 
    text-align:center; vertical-align:middle; line-height:4em; }
.reportcontents { display:inline-block; flex:1; padding:0.5em 0; }

table.games { width: 80%; margin-left:auto; margin-right:auto;
    margin-top:2em; }
table.games tr { width:100%; }
table.games td a { color:white; text-decoration:none; }
table.games td a:hover { text-decoration:underline; }
table.games td a:visited { color:#B79BE0; }
table.games td { width:auto;max-width:0; }
table.games th { text-align:left; }
table.publicgames td:nth-child(1) { width:50%; }
table.publicgames td:nth-child(2) { width:25%; }
table.publicgames td:nth-child(3) { width:25%; }
table.publicgames td { height:1.25em; overflow:hidden; white-space:nowrap;
    text-overflow:ellipsis; }
table.publicgames tr { line-height:1.25em; }
table.mygames table.mygames th, table.mygames td { border:1px solid #aaa; padding: 0.4em; }
table.mygames { border-collapse:collapse; }

a { color: #C6C2C4; }
    a:hover { text-decoration:none; }

p { margin-top:1em; }

h2 { margin-top:1em; font-weight:normal; font-size: 1.75em; }
h3 { margin-top:2em; font-weight:normal; font-size:1.25em; }

#gamesubmit { width:40%; margin-left:auto; margin-right:auto; }

label { display:block; text-align:left; padding:0.4em 0 0.1em; }
form .moreinfo { font-size:0.75em; vertical-align:bottom; color:#C6C2C4; }

input[type=text], input[type=password] { padding:0.1em; resize:none;
    overflow:hidden; width:100%; font-size:1em; }

input[type=submit], button {
    background:#3E5A99;
    color:white;
    padding: 0.3em 0.75em;
    border:0 none;
    cursor:pointer;
    font-size:1em;
}
select { font-size:1em; padding:0.1em; }

.error { color:red; }

